/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

*= require_tree .
*= require_self
 
/*フォント */
 * {
  font-family: "Kosugi Maru", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 0;
  margin: 0;
}
.header{
  position: fixed;
}
  .c-header {
    align-items: center;
    background-color: #7d7d7d; /* カスタマイズしてください */
    z-index: 700;
    height: 90px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem; /* カスタマイズしてください */
    width: 100%;
  }
  
  .c-header__logo {
    color: #000; /* カスタマイズしてください */
    display: flex;
    position: absolute;
    
  }
  .header_image{
    height: 30%;
    width: 30%;
    display: flex;
    padding-top: auto
  }

  .c-header__list {
    box-sizing: border-box;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .c-header__list-item {
    list-style: none;
    text-decoration: none;
  }
  
  .c-header__list-link {
    color: #cecece; /* カスタマイズしてください */
    display: block;
    margin-right: 20px; /* カスタマイズしてください */
    text-decoration: none;
    padding: 10px 0px; /* カスタマイズしてください */
  }
  
  .c-header__list-link:hover {
    filter: opacity(0.6); /* カスタマイズしてください */
  }
  
  .c-hamburger-menu {
    position: fixed;
  }
  
  @media screen and (max-width: 750px) {
    .c-hamburger-menu__list {
      background-color: black; /* カスタマイズしてください */
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      left: 0;
      padding: 2rem; /* カスタマイズしてください */
      position: absolute;
      transform: translateX(-100%);
      transition: 0.3s; /* カスタマイズしてください */
      top: 100%;
      width: 100%;
    }
  
    #hamburger:checked ~ .c-hamburger-menu__list {
      transform: translateX(0%);
      transition: 0.3s;
    }
  }
  
  .c-hamburger-menu__input {
    display: none;
  }
  
  .c-hamburger-menu__bg {
    background-color: #000; /* カスタマイズしてください */
    cursor: pointer;
    display: none;
    height: 100vh;
    left: 0;
    opacity: 0.4; /* カスタマイズしてください */
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }
  
  #hamburger:checked ~ .c-hamburger-menu__bg {
    display: block;
  }
  
  .c-hamburger-menu__button {
    display: none;
  }
  
  @media screen and (max-width: 750px) {
    .c-hamburger-menu__button {
      align-items: center;
      appearance: none;
      background-color: transparent;
      border: none;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      gap: 5px; /* カスタマイズしてください */
      height: 32px; /* カスタマイズしてください */
      justify-content: center;
      width: 32px; /* カスタマイズしてください */
    }
  }
  
  .c-hamburger-menu__button-mark {
    background-color: #000; /* カスタマイズしてください */
    display: block;
    height: 1px; /* カスタマイズしてください */
    transition: 0.3s; /* カスタマイズしてください */
    width: 20px; /* カスタマイズしてください */
  }
  
  @media screen and (max-width: 750px) {
    #hamburger:checked
      ~ .c-hamburger-menu__button
      .c-hamburger-menu__button-mark:nth-of-type(1) {
      transform: translate(2px, 1px) rotate(45deg); /* カスタマイズしてください */
      transform-origin: 0%; /* カスタマイズしてください */
    }
    #hamburger:checked
      ~ .c-hamburger-menu__button
      .c-hamburger-menu__button-mark:nth-of-type(2) {
      opacity: 0;
    }
    #hamburger:checked
      ~ .c-hamburger-menu__button
      .c-hamburger-menu__button-mark:nth-of-type(3) {
      transform: translate(2px, 3px) rotate(-45deg); /* カスタマイズしてください */
      transform-origin: 0%; /* カスタマイズしてください */
    }
  }


  
  main {
    height: 100%;
    position: relative; 
    padding-top: 90px;
    padding-bottom: 30px;
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ",
    Meiryo, "MS Pゴシック", sans-serif;
    display: flex;
    flex-direction: column;
    text-align:center;
    background-color:#ffffff;
    flex-grow:1;
  }

  footer {
    color: rgb(255, 255, 255);
    height: 30px;
    background-color: #000;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: flex-end;
    z-index: 999;
  }
