// Place all the styles related to the hokkaidos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
//  header

//TOP
.top_search_box {
  padding: 50px;
  text-align: center;
  position: relative;
  z-index: 999;
}


//HEADER


//INDEX

//.postcontainer{
//  display:flex;
//  width: 100%;
//}

//.post{
//  width: 33.3%
//}




//MAP






//photoindex
.index_search_box{
  padding: auto;
  position: sticky;
}



//new

